{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}OBET - Register{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Apply for Membership</h1>
</div>
<p>
	<small><i>
		Please note that OBET is a public resource and you do not need to become a member in order to use it.  Membership is for those who would like to maintain or contribute references to OBET.  If you apply, please describe yourself and explain why you would like to join us.  Thank you for your interest in OBET!
	</i></small>
<p>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
<br>
<br>
<br>
{% endblock %}
