{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}OBET - Register{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Register</h1>
</div>
<p>
	<small><i>
		Please note that OBET registration is not open to all. You do not need to register to search for literature on the site. Registration is for those who want to regularly contribute to OBET's upkeep and maintenance. If you would still like to register, be sure to enter a reason and some information about yourself so that the administrator can make a decision. Thank you for your interest in OBET!
	</i></small>
<p>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
<br>
<br>
<br>
{% endblock %}
