.navbar-custom {
    color: black;
    background-color: #006600;
}
input.btn {
	margin: 6px;
	float: left;
	display: inline-block;
	max-width: 150px;
	/*max-height: 50px;*/
	/*text-align: center;*/
}
button.btn {
	margin:6px;
	float: left;
	display: inline-block;
	max-width: 150px;
	clear:both;
}
/* Search Results nav bar */
input.search-nav{
	color: #006600;
}
input.search-nav:hover{
	background-color: #006600;
	color: white;
}
button.search-nav{
	color: #006600;
}
button.search-nav:hover{
	background-color: #006600;
	color: white;
}
/* Main Page */
button.search-btn{
	background-color: #006600;
	color: #999;
	margin: 0;
}
.centered-search img.img-responsive{
	text-align: center;
	margin: 0 auto;
}
.row{
	margin: 0 auto;
	width: 70%;
}
p.centered-advanced-search{
	text-align: center;
}
/* All */
input.form-control{
	color: #006600;
}
