{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('insertNewLiterature') }}" method="post" class="add-entry">
      <dl>
        <dt>Reference Type (select of journal, article, textbook, other):
        <dd><input type = "text" size = "30" name = "refType">
        <dt>Title:
        <dd><input type = "text" size = "30" name = "title">
        <dt>Author:
        <dd><input type = "text" name = "author" size = "40"></textarea>
        <dt>Description:
        <dd><textarea name = "description" rows = "5" cols = "40"></textarea>
        <dd><input type = "submit" value = "Insert">
      </dl>
    </form>
    { % else % }
    <div>At this time this is only for Professor Lahti's use.</div>
    <a href = "{{ url_for('mainPage') }}">Return To The Main Page</a>
  {% endif %}
  
{% endblock %}
