<!doctype html>
<title>OBET</title>
<link rel = "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
<div class = "page">
  <h1>OBET</h1>
  <div class = "metanav" align = "center">
    <a href = "{{ url_for('aboutPage') }}">About OBET</a>
    <a href = "{{ url_for('fuzzySearch') }}">Search</a>
  {% if not session.logged_in %}
    <a href = "{{ url_for('login') }}">Log In</a>
  {% else %}
    <a href = "/admin_console">Admin Console</a>
    <a href = "{{ url_for('logout') }}">Log Out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class = "flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
