{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}OBET - Advanced Search For Literature{% endblock %}
{% block page_content %}

  <div class="navbar navbar-custom ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">

        <form id="searchoptions" action="{{url_for('main.advancedSearch')}}" method="post" enctype="multipart/form-data" >
          <ul class="nav navbar-nav">
            <li><input class="btn search-nav" onclick="refined()" type="submit" name="submitBtn" value="RefineList" /></li>
            <li><button class="btn search-nav" type="button" onclick="printDiv('printableArea');"> Print </button></li>
          </ul>
        </form>

      </div>
    </div>
  </div>

  <div class="page-header">
   <h2>Advanced Search For Literature</h2>  
  </div>

  <div class="container">
    <form id="advsearch" onsubmit="beforeSubmit()" action="{{url_for('main.advancedSearch')}}" method="POST">
      <div class="form-inline">
        <select id="condition1" name="condition1" class="form-control">
          <option value=""></option>
          <option value="not">Not</option>
          <option value="ignore">Ignore</option>
        </select>
        <select id="category1" name="category1" class="form-control" onchange="">
          <option value="refType">Reference Type</option>
          <option value="author">Author/Editor</option>
          <option value="title">Title</option>
          <option value="yrPublished">Year</option>
          <option value="sourceTitle">Source Title</option>
          <option value="KeywordsAbstractNotes">Keywords/Abstract/Notes</option>
          <option value="PrimarySecondary">Primary/Secondary Fields</option>
          <option value="DateCreated">Date Created</option>
          <option value="CreatedBy">Created By</option>
          <option value="ModifiedBy">Modified By</option>
        </select>
        <select id="contains1" name="contains1" class="form-control" onchange="">
          <option value="icontains">Contains</option>
          <option value="iexact">Exactly</option>
          <option value="istartswith">Begins With</option>
        </select>
        <input id="inputtext1" class="form-control" name="inputtext1"/>
      </div>
    </form>
    <button id="addbutton1" type="button" class="btn btn-default" onclick="addCondition()">+</button>
    <button id="submit" form="advsearch" type="submit" value="advancedSearch" class="btn btn-default ">Submit</button>

    {% if lit %}
    <br><br><br><br><br>
    <h2>Results</h2>
    <p>References that match your search query:</p>   

      <table class="table">
          <thead>
            <tr>
              <th></th> 
              {%if current_user.author or current_user.is_anonymous() %}
                <th>Author</th> {%endif%} 
              {%if current_user.yearPublished or current_user.is_anonymous() %}
                <th>Year</th> {%endif%}               
              {%if current_user.title or current_user.is_anonymous() %} 
                <th>Title</th> {%endif%} 
              {%if current_user.sourceTitle or current_user.is_anonymous() %}
                <th>Source Title</th> {%endif%}         
              {%if current_user.primaryField or current_user.is_anonymous() %}
                <th>Primary Field</th> {%endif%} 
              {%if current_user.editor %}
                <th>Editor</th> {%endif%} 
              {%if current_user.refType %}
                <th>Type</th> {%endif%} 
              {%if current_user.creator or current_user.is_anonymous() %}
                <th>Creator</th> {%endif%} 
              {%if current_user.dateCreatedOn or current_user.is_anonymous() %}
                <th>Date Created</th> {%endif%} 
              {%if current_user.lastModified %}
                <th>Last Modified</th> {%endif%} 
              {%if current_user.lastModifiedBy %}
                <th>Last Modified By</th> {%endif%}
            </tr>
          </thead>

          <tbody>
            {% for l in lit %}
              <tr>
                <td>
                  <input type="checkbox" id="id_{{l.id}}" name="literature"
                  value="{{l.id}}">
                </td> 
                {%if current_user.author or current_user.is_anonymous() %}
                  <td>{{l.author}}</td> 
                {%endif%}  
                {%if current_user.yearPublished or current_user.is_anonymous() %}
                  <td>{{l.yrPublished|string()}}</td> 
                {%endif%}                
                {%if current_user.title or current_user.is_anonymous() %}
                  <td><a href="{{ url_for('main.lit', lit_id = l.id) }}">{{l.title}}</a></td>
                {%endif%} 
                {%if current_user.sourceTitle or current_user.is_anonymous() %}
                  <td>{{l.sourceTitle}}</td> 
                {%endif%} 
                {%if current_user.primaryField or current_user.is_anonymous() %}
                  <td>{{l.primaryField}}</td> 
                {%endif%} 
                {%if current_user.editor %}
                  <td>{{l.editor}}</td> 
                {%endif%} 
                {%if current_user.refType %}
                  <td>{{l.refType}}</td> 
                {%endif%} 
                {%if current_user.creator or current_user.is_anonymous() %}
                  <td><a href="{{ url_for('main.user', email = l.creator) }}">{{l.creator}}</a></td> 
                {%endif%} 
                {%if current_user.dateCreatedOn or current_user.is_anonymous() %}
                  <td>{{l.created_date}}<!-- datetime.datetime.fromtimestamp(l.created_date).strftime('%Y-%m-%d %H:%M:%S') --></td> 
                {%endif%} 
                {%if current_user.lastModified %}
                  <td>{{l.last_edit.date}}</td> 
                {%endif%} 
                {%if current_user.lastModifiedBy %}
                  <td>{{l.last_edit.lastUserEdited}}</td> 
                {%endif%}
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  <br>
  <br>
  <br>
  
  <p>
    <a href="{{ url_for('main.search') }}"> Normal Search</a>
  </p>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>

    {% if not lit %}
      {% set litRefine = [] %}
    {% else %}
      {% set litRefine = lit %}
    {% endif %}
    {% if not sessioninfo %}
      {% set sessioninfo = "" %}
    {% endif %}

    var lit = {{ litRefine|tojson|safe }};
    var sessioninfo = {{ sessioninfo|tojson|safe }};

    function refined() {

      // Form element
      var searchOptions = document.getElementById('searchoptions');
      // All literature items
      var checkboxes = document.getElementsByName('literature');

      var n = checkboxes.length;
      var redefined = [];
      var count = 0;
      var found;

      // Search through the list of checked items and save the lit objects into array
      if( lit != null ) {
        for(var i=0; i<n; i++) {
          if(checkboxes[i].checked) {
            found = searchList(checkboxes[i].value);
            if( found != null){
              redefined[count] = found;
              count++;
            }
          }
        }

        // Store the original search and the new list of lit
        var redefinedString = JSON.stringify(redefined);
        // var query = document.getElementById("advsearch");

        // Delete previously appended hidden input elements
        var redefpar = $("#redefinedString");
        if(redefpar!=null){
          $(redefpar).remove();
          // alert("found redef string");
        }

        var par = $("#queryString");
        if(par != null){
          $(par).remove();
        }

        // Add object containing redefined list in request
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("id", "redefinedString");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "redefinedString");
        hiddenField.setAttribute("value", redefinedString);
        searchOptions.appendChild(hiddenField);

        // Add object containing the previous search query
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("id", "queryString");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "queryString");
        hiddenField.setAttribute("value", JSON.stringify(sessioninfo));
        searchOptions.appendChild(hiddenField);
      }  
    }

    // Dynamic Search query options ------------------------------------------------------

    var counter = 2;
    // Used to contain the condition numbers set by the user
    var chosenConditions = [1];
    // Templaate for new condition html
    var newCondition = 
      '<div class="form-inline">'+
      '  <select id="condition1" name="condition1" class="form-control" onchange="">'+
      '    <option value="and">And</option>'+
      '    <option value="or">Or</option>'+
      '    <option value="not">Not</option>'+
      '    <option value="ignore">Ignore</option>'+
      '  </select>'+
      '  <select id="category1" name="category1" class="form-control" onchange="">'+
      '    <option value="refType">Reference Type</option>'+
      '    <option value="author">Author/Editor</option>'+
      '    <option value="title">Title</option>'+
      '    <option value="yrPublished">Year</option>'+
      '    <option value="sourceTitle">Source Title</option>'+
      '    <option value="KeywordsAbstractNotes">Keywords/Abstract/Notes</option>'+
      '    <option value="PrimarySecondary">Primary/Secondary Fields</option>'+
      '    <option value="DateCreated">Date Created</option>'+
      '    <option value="CreatedBy">Created By</option>'+
      '    <option value="ModifiedBy">Modified By</option>'+
      '  </select>'+
      '  <select id="contains1" name="contains1" class="form-control" onchange="">'+
      '    <option value="icontains">Contains</option>'+
      '    <option value="iexact">Exactly</option>'+
      '    <option value="istartswith">Begins With</option>'+
      '  </select>'+
      '  <input id="inputtext1" class="form-control" name="inputtext1"/>'+
      '</div>';
    var categoryId = 'category1';
    var containsId = 'contains1';
    var inputId = 'inputtext1';
    var conditionId = 'condition1';
    var subbuttonId = 'subbutton1';

    // NOT NEEDED
    function deleteCondition(idarg){
      elemNum = idarg.replace('subbutton', '');

      var regex = /1/;
      var category = categoryId.replace(regex, elemNum);
      var input = inputId.replace(regex, elemNum);
      var subbutton = subbuttonId.replace(regex, elemNum);
      var cond = conditionId.replace(regex, elemNum);
      var contains = containsId.replace(regex, elemNum);
      
      // var index = chosenConditions.indexOf(elemNum);
      // chosenConditions.splice(index, 1);

      $('#'+category).remove();
      $('#'+input).remove();
      $('#'+subbutton).remove();
      $('#'+cond).remove();
      $('#'+contains).remove();
    };

    function addCondition(){
      var regex = /1/gm;
      // Replace the numbers to the correct number
      var condition = newCondition.replace(regex, counter.toString());
      // var addButton = addButtonId.replace('1', counter.toString());

      // var removeButton = addButtonId.replace('1', (counter-1).toString());
      // alert(removeButton);

      // // Get rid of the plus sign on the previous condition
      // $('#'+removeButton).remove();

      // alert(condition);

      // Append the new condition fields
      $('#advsearch').append(condition);

      chosenConditions.push(counter);
      counter++;
    };

    function beforeSubmit(){
      var par = $("#count");
        if(par != null){
          $(par).remove();
      }

      // Add count of conditions in request
      var hiddenField = document.createElement("input");
      hiddenField.setAttribute("id", "count");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", "count");
      hiddenField.setAttribute("value", counter-1);
      document.getElementById('advsearch').appendChild(hiddenField);
    }

    // Search through current "lit" list for those checked off
    function searchList(id){
      // alert(id);
      for (var i = 0; i < lit.length; i++){
        if(lit[i].id == id){
          // alert("found this " + lit[i].id);
          return lit[i];
        }
      }
      return null;
    };

    function printDiv(divName){
      // var printContents = document.getElementById(divName).innerHTML;
      // var originalContents = document.body.innerHTML;

      // document.body.innerHTML = printContents;
      window.print();
      // document.body.innerHTML = originalContents;
    };

    $( document ).ready(function(){
      if(sessioninfo != ""){
        rebuildQuery();
      }
    });

    function rebuildQuery(){
      sessioninfo = JSON.parse(sessioninfo);
      console.log(sessioninfo);
      counter = parseInt(sessioninfo.count)+1;
      console.log(counter);

      // Recreate the same number of fields
      for(var i = 2; i<=sessioninfo.count; i++){
        var regex = /1/gm;

        // Replace the numbers to the correct number
        var formRow = newCondition.replace(regex, i.toString());

        // Append the new condition fields
        $('#advsearch').append(formRow);
      }  

      var regex;
      var category;
      var input;
      var cond;
      var contains;

      // Refill the fields with previous values
      for(var i = 1; i<=sessioninfo.count; i++){
        regex = /1/gm;
        category = categoryId.replace(regex, i);
        input = inputId.replace(regex, i);
        cond = conditionId.replace(regex, i);
        contains = containsId.replace(regex, i);

        console.log(category);
        console.log(sessioninfo[category]);

        // var fieldid = '#'+category;
        // console.log(fieldid + " " + typeof fieldid);
        $('#'+category).val(sessioninfo[category]);
        $('#'+cond).val(sessioninfo[cond]);
        $('#'+input).val(sessioninfo[input]);
        $('#'+contains).val(sessioninfo[contains]);
      }
    }
  </script>

{% endblock %}
