{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}OBET - Precise Search For Literature{% endblock %}
{% block page_content %}
<div class="page-header">
 <h1>Search For Literature</h1>	
</div>

<div class="col-md-4">

{% for l in lit %}
 <a href="{{ url_for('main.lit', title = l.title) }}"><button type="button">
 	<p>Title: {{l.title}}</p>
	<p>Type: {{l.refType}}</p>
	<p>Author: {{l.author}}</p>
	<p>Description: {{l.description}}</p>
</button></a>
<br>
<br>	
{% endfor %}

 {{ wtf.quick_form(form) }}
 <p>
 <br>
 Rather do a less strict search?
 <a href="{{ url_for('main.search') }}">
 Go here instead.
 </a>
</p>
</div>
{% endblock %}
