{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}OBET{% endblock %}
{% block page_content %}
	<div class="centered-search"><img src="../static/obetsearchbox.png" class="img-responsive" alt="search_box"></div>

	<br>

	<h4 style="text-align:center"> Currently the database contains <b>{{ litcount }}</b> documents </h4>
	
	<div class="row">
	    <div class="input-group input-group-lg">
	      <input id="query" type="text" class="form-control" placeholder="e.g., Holmes Rolston">
	      <span class="input-group-btn">
	        <button class="btn btn-default search-btn" type="button" id="searchbtn" onclick="submitform()">Search</button>
	      </span>
	    </div>
	</div>

	<p style="text-align:center"><br> <i> ** Disclaimer: Registration is not currently open! Registration will be up in the coming weeks </i> </p>

	<p class="centered-advanced-search">
	  <br><a href="{{ url_for('main.advancedSearch') }}"> Advanced Search</a>
	</p>

	<form id="searchForm" action="{{url_for('main.search')}}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="submitBtn" value="main"/>
	</form> 

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script>
		function submitform(){ 
			console.log("submitting form1");    
			var searchform = document.getElementById('searchForm'); 

			// Add object in request
	        var hiddenField = document.createElement("input");
	        hiddenField.setAttribute("id", "query");
	        hiddenField.setAttribute("type", "hidden");
	        hiddenField.setAttribute("name", "query");
	        hiddenField.setAttribute("value", document.getElementById('query').value||"");
	        searchform.appendChild(hiddenField);

			document.getElementById("searchForm").submit();
		}

	    $("#query").keypress(function (e) {
	        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
	            $("#searchbtn").click();
	            return false;
	        } else {
	            return true;
	        }
	    });
	</script>

{% endblock %}


