<!-- Manual and instructions -->
<!-- Contains filler text -->

{% extends "base.html" %}

{% block title%}
	Manual and Instructions
{%endblock%}

{% block page_content %}
	<h1> Manual and Instructions  </h1>

	<br>
	<p>
	Suspendisse at neque magna. Fusce dapibus viverra ligula quis ullamcorper. Nam varius erat vitae consequat congue. Praesent cursus tellus in elit commodo, ac euismod felis porttitor. Integer tempor in leo egestas venenatis. Vestibulum vulputate pellentesque pellentesque. Pellentesque sit amet est eu ipsum porta varius eget eget tellus.
	</p>

	<p>
	In convallis sem enim, porta blandit nisi fringilla non. In porta, neque ac bibendum dapibus, erat nunc imperdiet odio, suscipit vehicula neque tortor tempus mi. Integer pharetra auctor nisi, ut maximus nunc lobortis a. Ut ullamcorper velit fringilla, tincidunt lacus sit amet, dictum mi. Suspendisse semper ante lectus, non ullamcorper orci iaculis molestie. Praesent vehicula erat id risus viverra, in lacinia erat dignissim. s
	</p>
{% endblock %}