<!-- Search page -->

{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
  OBET - Search For Literature
{% endblock %} 

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{% endblock %}

{% block page_content %}
  <script>
    // If lit is not defined, set litRefine to empty array
    {% if not lit %}
      {% set litRefine = [] %}
    {% else %}
      {% set litRefine = lit %}
    {% endif %}

    // Convert litRefine to json
    var lit = {{ litRefine|tojson|safe }};

    // When RefineList button is clicked
    function refined() {
      // Form element
      var searchOptions = document.getElementById('searchoptions');
      // All literature items
      var checkboxes = document.getElementsByName('literature');

      var n = checkboxes.length;
      var redefined = [];
      var count = 0;
      var found;

      // Search through the list of checked items and save the lit objects into array
      if( lit != null ) {
        for(var i=0; i<n; i++) {
          if(checkboxes[i].checked) {
            found = searchList(checkboxes[i].value);
            if( found != null){
              redefined[count] = found;
              count++;
            }
          }
        }

        // Store the original search and the new list of lit
        var redefinedString = JSON.stringify(redefined);
        var query = document.getElementById("search").value;
        var sortStr = document.getElementById("sort").value;

        // Delete previously appended hidden input elements
        var par = $("#queryString");
        if(par != null){
          $(par).remove();
        }
        var redefpar = $("#redefinedString");
        if(redefpar!=null){
          $(redefpar).remove();
        }
        var sort = $("#sortStr");
        if(sort!=null){
          $(sort).remove();
        }

        // Add current search term in hidden field
        var querystr = document.createElement("input");
        querystr.setAttribute("id", "queryString");
        querystr.setAttribute("type", "hidden");
        querystr.setAttribute("name", "queryString");
        querystr.setAttribute("value", query);
        searchOptions.appendChild(querystr);

        // Add refined list in hidden field
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("id", "redefinedString");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "redefinedString");
        hiddenField.setAttribute("value", redefinedString);
        searchOptions.appendChild(hiddenField);

        // Add sort option in as hidden field
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("id", "sortStr");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "sortStr");
        hiddenField.setAttribute("value", sortStr);
        searchOptions.appendChild(hiddenField);
      }  
    }

    // Search through current "lit" list for those checked off
    function searchList(id){
      for (var i = 0; i < lit.length; i++){
        if(lit[i].id == id){
          return lit[i];
        }
      }
      return null;
    }

    // Print results - should modify to print only the query and results
    // Site header should not be printed
    function printDiv(divName){
      // var printContents = document.getElementById(divName).innerHTML;
      // var originalContents = document.body.innerHTML;

      // document.body.innerHTML = printContents;
      window.print();
      // document.body.innerHTML = originalContents;
    }

    function toggle(source) {
      checkboxes = document.getElementsByName('literature');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }

  </script>

<!--   {% block javascript %}
    <script type="text/javascript" src="scripts/refine.js"/>
  {% endblock %} -->

  <!-- Advanced search navigation bar -->
  <div class="navbar navbar-custom ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">

        <form id="searchoptions" action="{{url_for('main.search')}}" method="post" enctype="multipart/form-data" >
          <ul class="nav navbar-nav">
            <!-- Refine list -->
            <li><input class="btn search-nav" type="submit" onclick="refined()" name="submitBtn" value="RefineList"/></li>
            <!-- Print -->
            <li><button class="btn search-nav" type="button" onclick="printDiv('printableArea');"> Print </button></li>
            <!-- Export -->
            <li><input id="submitBtn" class="btn search-nav" type="submit" onclick="refined(); return confirm('Export checked references as a TSV file?');" name="submitBtn" value="Export"/></li>
          </ul>
        </form>

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-9 col-md-8">
    <div class="page-header">
      <h2>Search For Literature</h2>
    </div>

    {{ wtf.quick_form(form) }} <br><br>

    <!-- If there are search results, display based on user preferences -->
    {% if lit %}
      <div class="container">
        <h2>Results</h2>
        <p>
          <b> {{ lit|length }} </b> references that match your search query:
          <input type="checkbox" onClick="toggle(this)" /> Toggle All<br/>
        </p>

        <!-- Search results table -->
        <table class="table">
          <!-- Table header defintion -->
          <thead>
            <tr>
              <!-- Extra empty space for checkboxes -->
              <th></th> 
              <!-- If user has author in their prefered view, display author etc.-->
              {%if current_user.author or preferences.author %}
                <th>Author</th> {%endif%} 
              {%if current_user.yrPublished or preferences.yrPublished %}
                <th>Year</th> {%endif%}               
              {%if current_user.title or preferences.title %} 
                <th>Title</th> {%endif%} 
              {%if current_user.sourceTitle or preferences.sourceTitle %}
                <th>Source Title</th> {%endif%}         
              {%if current_user.primaryField or preferences.primaryField %}
                <th>Primary Field</th> {%endif%} 
              {%if current_user.editor or preferences.editor %}
                <th>Editor</th> {%endif%} 
              {%if current_user.refType or preferences.refType %}
                <th>Type</th> {%endif%} 
              {%if current_user.creator or preferences.creator %}
                <th>Creator</th> {%endif%} 
              {%if current_user.dateCreatedOn or preferences.dateCreatedOn %}
                <th>Date Created</th> {%endif%} 
              {%if current_user.lastModified or preferences.lastModified %}
                <th>Last Modified</th> {%endif%} 
              {%if current_user.lastModifiedBy or preferences.lastModifiedBy%}
                <th>Last Modified By</th> {%endif%}
            </tr>
          </thead>

          <!-- Table body -->
          <tbody>
            <!-- For each result obj retrieved from the db -->
            {% for l in lit %}
              <tr>
                <!-- Checkbox, id is id_<object_id> -->
                <td>
                  <input type="checkbox" id="id_{{l.id}}" name="literature"
                  value="{{l.id}}">
                </td> 
                {%if current_user.author or preferences.author %}
                  <td>{{l.author}}</td> 
                {%endif%}  
                {%if current_user.yrPublished or preferences.yrPublished %}
                  <td>{{l.yrPublished|string()}}</td> 
                {%endif%}                
                {%if current_user.title or preferences.title %}
                  <td><a href="{{ url_for('main.lit', lit_id = l.id) }}">{{l.title}}</a></td>
                {%endif%} 
                {%if current_user.sourceTitle or preferences.sourceTitle %}
                  <td>{{l.sourceTitle}}</td> 
                {%endif%} 
                {%if current_user.primaryField or preferences.primaryField %}
                  <td>{{l.primaryField}}</td> 
                {%endif%} 
                {%if current_user.editor or preferences.editor %}
                  <td>{{l.editor}}</td> 
                {%endif%} 
                {%if current_user.refType or preferences.refType %}
                  <td>{{l.refType}}</td> 
                {%endif%} 
                {%if current_user.creator or preferences.creator %}
                  <td><a href="{{ url_for('main.user', name = l.creator) }}">{{l.creator}}</a></td> 
                {%endif%} 
                {%if current_user.dateCreatedOn or preferences.dateCreatedOn %}
                  <td>{{l.created_date}}<!-- datetime.datetime.fromtimestamp(l.created_date).strftime('%Y-%m-%d %H:%M:%S') --></td> 
                {%endif%} 
                {%if current_user.lastModified or preferences.lastModified %}
                  <td>{{l.last_edit.date}}</td> 
                {%endif%} 
                {%if current_user.lastModifiedBy or preferences.lastModifiedBy %}
                  <td>{{l.last_edit.lastUserEdited}}</td> 
                {%endif%}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    <!--  <br> 

<form id="sort" action="{{ url_for('main.search', searchStr = searchString) }}">
  Sort By:
  <select name="sortby">
      <option value="title" {% if selected %} {% set sortString = "title" %} {% endif %}> Title </option>
      <option value="type"> Type </option>
      <option value="author"> Author </option>
      <option value="primaryField"> Primary Field </option>
  </select>

</form> <button type="submit" form="sort" value="Sort"> Sort </button> -->

    <p>
      <br> <a href="{{ url_for('main.advancedSearch') }}"> Advanced Search </a>
    </p>
  </div>
{% endblock %}


