{% block page_content %}
<div class="page-header">
 <h1>{{ user.name }}</h1>
 <p>
 {% if user.name %}{{ user.name }}{% endif %}
 </p>
 <p>
 {% if user.credentials %}{{ user.credentials }}{% endif %}
 </p>
 {% if current_user.is_administrator() %}
 <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
 {% endif %}
 {% if user.description %}<p>{{ user.description }}</p>{% endif %}
 {% if user == current_user %}
	<a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile
	</a>
{% endif %}
</div>
{% endblock %}
